<!DOCTYPE html>
<html>
<body style="margin:0; padding:0; background:#f8f9fa; font-family: 'Segoe UI', sans-serif;">

  <table width="100%" style="padding:40px 0;">
    <tr>
      <td align="center">

        <table width="520" style="background:#ffffff; border-radius:16px; padding:30px; box-shadow:0 10px 30px rgba(0,0,0,0.1);">

          <!-- Logo / Title -->
          <tr>
            <td align="center">
            <h2 style="color:#04154d; margin-bottom:10px;">JET | HUB</h2>
              <p style="color:#8392ab; font-size:14px;">Password Reset Request</p>
            </td>
          </tr>

          <!-- Divider -->
          <tr>
            <td>
              <hr style="border:none; border-top:1px solid #eee; margin:20px 0;">
            </td>
          </tr>

          <!-- Content -->
          <tr>
            <td style="color:#67748e; font-size:14px; line-height:1.6;">

              <p>Hi <strong>{{ user.username }}</strong>,</p>

              <p>
                You have requested a password reset for your account. Click the button below to set a new password.
              </p>

              <!-- Button -->
              <div style="text-align:center; margin:30px 0;">
                <a href="{{ protocol }}://{{ domain }}{% url 'password_reset_confirm' uidb64=uid token=token %}"
                   style="
                     background: linear-gradient(310deg, #7928CA, #04154d);
                     color:#ffffff;
                     padding:14px 28px;
                     border-radius:12px;
                     text-decoration:none;
                     font-weight:600;
                     display:inline-block;
                     box-shadow:0 4px 15px rgba(0,0,0,0.2);
                   ">
                  Reset Password
                </a>
              </div>

              <p>If you didn’t request this, you can safely ignore this email.</p>

              <p style="font-size:13px; color:#adb5bd;">
                This link will expire for security reasons.
              </p>

              <hr style="border:none; border-top:1px solid #eee; margin:25px 0;">


            </td>
          </tr>

          <!-- Footer -->
          <tr>
            <td align="center" style="padding-top:20px; font-size:12px; color:#adb5bd;">
              © {{ site_name }} — Secure Access System
            </td>
          </tr>

        </table>

      </td>
    </tr>
  </table>

</body>
</html>