{% extends "layouts/base-auth.html" %}
{% load static %}

{% block content %}

<main class="main-content mt-0">
  <section class="min-vh-100 mb-8">

    <!-- Header / Background -->
    <div class="page-header align-items-start min-vh-50 pt-5 pb-11 m-3 border-radius-lg"
         style="background-image: url('{% static "assets/img/curved-images/curved14.jpg" %}');">
      <span class="mask bg-gradient-dark opacity-6"></span>
      <div class="container">
        <div class="row justify-content-center">
          <div class="col-lg-5 text-center mx-auto">
            <h1 class="text-white mb-2 mt-5">Password Reset Complete</h1>
            <p class="text-lead text-white">Your password has been successfully updated. You can now sign in.</p>
          </div>
        </div>
      </div>
    </div>

    <div class="container">
      <div class="row mt-lg-n10 mt-md-n11 mt-n10 justify-content-center">
        <div class="col-xl-4 col-lg-5 col-md-7 mx-auto">
          <div class="card z-index-0 text-center">
            <div class="card-body">
              <a href="{% url 'login' %}" class="btn bg-gradient-dark w-100">Back to Sign in</a>
            </div>
          </div>
        </div>
      </div>
    </div>

  </section>
</main>

{% endblock content %}